<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Goppobagish</title>
    {% load static %} <link href="{% static "/style.css" %}" rel="stylesheet"
    type=""> <link href="{% static "/css/themetypo.css" %}" rel="stylesheet">
    <link href="{% static "/css/bootstrap.css" %}" rel="stylesheet"> <link
    href="{% static "/css/color.css" %}" rel="stylesheet"> <link href="{% static
    "/css/font-awesome.min.css" %}" rel="stylesheet"> <link href="{% static
    "/css/jquery.bxslider.css" %}" rel="stylesheet"> <link href="{% static
    "/css/bootstrap-slider.css" %}" rel="stylesheet"> <link href="{% static
    "/css/widget.css" %}" rel="stylesheet"> <link href="{% static
    "/css/owl.carousel.css" %}" rel="stylesheet"> <link href="{% static
    "/css/responsive.css" %}" rel="stylesheet"> <link href="{% static
    "/js/dl-menu/component.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!--WRAPPER START-->
    <div class="wrapper">
      <!--HEADER START-->
      <header class="header-1">
        <div class="top-strip">
          <div class="container">
            <div class="pull-left">
              <p>Welcome to Goppobagish</p>
            </div>
            <ul class="my-account">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="logo-container">
          <div class="container">
            <!--LOGO START-->
            <div class="logo">
              <a href="#"
                ><img style="width: 50px;" src="{% static "images/logo-2.png"
                %}" alt=""></a
              >
            </div>
            <!--LOGO END-->
            <div class="kode-navigation">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/ourbooks">Our Books</a></li>
                <li class="last"><a href="/contactus">Contact Us</a></li>
              </ul>
            </div>
            <div id="kode-responsive-navigation" class="dl-menuwrapper">
              <button class="dl-trigger">Open Menu</button>
              <ul class="dl-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/ourbooks">Our Books</a></li>
                <li class="last"><a href="/contactus">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
